@media only screen and (max-width: 1300px) {
  .main {
    &_container {
      max-width: calc(100% - 80px);
    }

    &_btn {
      font-size: 17px;
      line-height: 24px;

      &_white {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }

  .header {
    .main_btn_white {
      margin-left: 46px;
    }
  }

  .home {

    &_left {
      .home_line_desktop {
        display: none;
      }
  
      .home_line_table {
        display: block;
      }
    }

    &_right {
      .home_block {
        height: 174px;

        .home_block_img {
          top: -2px;
          right: -33px;
        }
      }
  
      .home_end_block {
        height: 174px;

        .home_block_img {
          right: -35px;
          bottom: -35px;
        }
      }
    }
    
  }

  .services {
    &_card {
      &_content {
        padding: 20px;
      }
    }
  }

  .tarif {
    &_center {
      padding: 20px 0;
    }

    .main_container {
      gap: 20px;
    }

    .main_title {
      max-width: 440px;
    }

    &_img {
      .tarif_line_img {
        display: none;
      }

      .tarif_line_table_img {
        display: block;
      }
    }

    .main_btn {
      white-space: nowrap;
      font-size: 17px;
      line-height: 24px;
      padding: 12px 15px;
    }
  }

  .footer {
    &_line_img {
      right: -30px;
    }
  }
}

@media only screen and (min-width: 993px) {
  .menu_bg {
    display: none;
  }

}

@media only screen and (max-width: 993px) {
  .main {
    &_container {
      max-width: calc(100% - 40px);
    }
  }

  .header {
    margin: 20px 0 40px 0;

    &_link {
      display: none;
    }

    .burger_btn {
      display: flex;
    }
  }

  .home {
    margin-bottom: 80px;

    h1 {
      font-size: 50px;
      line-height: 60px;
    }

    &_left {
      padding-top: 0;

      .home_line1,
      .home_line2 {
        display: none;
      }
    }

    &_right {
      .home_block {
        width: calc(100%);
        height: 151px;

        .home_block_img {
          top: -25px;
          right: -15px;
        }
      }

      .home_desktop_block {
        display: none;
      }
    }

    &_social {
      margin-top: 49px;
    }

    &_blocks {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .home_end_block {
        .home_block_img {
          bottom: -48px;
          right: -100px;
        }
      }

      .home_media_block {
        height: 151px;
        width: calc(100% / 2 - 10px);
      }
    }
  }

  .services {
    margin-bottom: 80px;

    .services_line {
      display: none;
    }

    .slider_right,
    .slider_left {
      display: none;
    }

    .swiper-slide {
      opacity: .4;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  .tarif {
    &_img {
      display: none;
    }

    .main_title {
      margin-left: 0;
    }
  }

  .footer {
    margin-top: 80px;

    &_line_img {
      display: none;
    }

    &_bottom {
      margin-top: 80px;
    }

    &_link {
      margin-bottom: 85px;
    }
  }
}

@media only screen and (max-width: 767px) {

  .home {
    margin-bottom: 40px;

    h1 {
      font-size: 40px;
      line-height: 48px;
    }

    p {
      font-size: 15px;
      line-height: 21px;
      max-width: 100%;
    }

    &_in {
      gap: 20px;
    }

    &_right {
      .home_block {
        height: 134px;

        span {
          font-size: 15px;
          line-height: 21.75px;
        }

        h6 {
          font-size: 28px;
          line-height: 40px;
        }
      }
    }

    &_social {
      display: none;
    }

    .main_btn {
      max-width: 100%;
    }

    &_blocks {
      flex-direction: column-reverse;
      margin-top: 0;

      .home_media_block {
        height: 134px;
        width: calc(100%);

        img {
          display: none;
        }

        span {
          font-size: 15px;
          line-height: 21.75px;
        }

        h6 {
          font-size: 28px;
          line-height: 40px;
        }
      }
    }
  }

  .services {
    margin-bottom: 24px;

    &_title {
      margin-bottom: 20px;
    }

    &_card {
      h6, p {
        font-size: 15px;
        line-height: 21px;
      }
    }
  }

  .tarif {
    &_wrapper {
      flex-direction: column;
    }

    &_card {
      width: 100%;
    }

    .month {
      font-size: 17px;
      line-height: 24px;
    }

    &_center {
      padding: 7px 0 20px 0;
    }

    &_content {
      padding: 9px;
    }

    h6 {
      font-size: 40px;
      line-height: 58px;
    }

    span {
      font-size: 15px;
      line-height: 21px;
    }

    .main_btn {
      padding: 12px 20px;
    }
  }

  .footer {
    margin-top: 40px;

    &_bottom {
      margin-top: 40px;

      .main_container {
        align-items: start;

        span {
          margin-right: auto;
        }
      }
    }

    .main_title {
      margin-bottom: 20px;
    }

    &_in {
      flex-direction: column-reverse;
      gap: 40px;
    }

    &_link {
      margin-bottom: 40px;

      a {
        font-size: 15px;
        line-height: 21px;
      }
    }

    &_right {
      gap: 20px;

      a {
        font-size: 17px;
        line-height: 24px;
      }

      span {
        font-size: 15px;
        line-height: 21px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .main {
    &_title {
      font-size: 28px;
      line-height: 33.6px;
    }
  }
}
