@media only screen and (max-width: 1200px) {
  .main {
    &_container {
      max-width: calc(100% - 80px);
    }

    &_btn {
      font-size: 17px;
      line-height: 24px;

      &_white {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }

  .header {
    .main_btn_white {
      margin-left: 46px;
    }
  }
}

@media only screen and (min-width: 993px) {
  .menu_bg {
    display: none;
  }
}

@media only screen and (max-width: 993px) {
  .main {
    &_container {
      max-width: calc(100% - 40px);
    }
  }

  .header {

    &_link {
      display: none;
    }

    .burger_btn {
      display: flex;
    }
  }
}

@media only screen and (max-width: 650px) {
  .main {
    &_title {
      font-size: 28px;
      line-height: 33.6px;
    }
  }
}
